body {
    background-color: #f5f9ff;
}

/* Hide both math displays initially, will display based on JS detection */
.mathjax-mobile, .mathml-non-mobile { display: none; }

/* Show the MathML content by default on non-mobile devices */
.show-mathml .mathml-non-mobile { display: block; }
.show-mathjax .mathjax-mobile { display: block; }

.content-margin-container {
    display: flex;
    width: 100%; /* Ensure the container is full width */
    justify-content: left; /* Horizontally centers the children in the container */
    align-items: center;  /* Vertically centers the children in the container */
}
.main-content-block {
    width: 70%; /* Change this percentage as needed */
max-width: 1100px; /* Optional: Maximum width */
    background-color: #fff;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    padding: 8px 8px 8px 8px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.margin-left-block {
        font-size: 14px;
        width: 15%; /* Change this percentage as needed */
        max-width: 130px; /* Optional: Maximum width */
        position: relative;
        margin-left: 10px;
        text-align: left;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        padding: 5px;
}
.margin-right-block {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        width: 25%; /* Change this percentage as needed */
        max-width: 256px; /* Optional: Maximum width */
        position: relative;
        text-align: left;
        padding: 10px;  /* Optional: Adds padding inside the caption */
}

img {
        max-width: 100%; /* Make sure it fits inside the container */
        height: auto;
        display: block;
        margin: auto;
}
.my-video {
        max-width: 100%; /* Make sure it fits inside the container */
        height: auto;
        display: block;
        margin: auto;
}
/* Hide both video displays initially, will display based on JS detection */
.vid-mobile, .vid-non-mobile { display: none; }

/* Show the video content by default on non-mobile devices */
.show-vid-mobile .vid-mobile { display: block; }
.show-vid-non-mobile .vid-non-mobile { display: block; }

a:link,a:visited
{
    color: #0e7862; /*#1367a7;*/
    text-decoration: none;
}
a:hover {
    color: #24b597; /*#208799;*/
}

h1 {
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 10px;
}

table.header {
font-weight: 300;
font-size: 17px;
flex-grow: 1;
    width: 70%;
max-width: calc(100% - 290px); /* Adjust according to the width of .paper-code-tab */
}
table td, table td * {
    vertical-align: middle;
    position: relative;
}
table.paper-code-tab {
    flex-shrink: 0;
    margin-left: 8px;
    margin-top: 8px;
    padding: 0px 0px 0px 8px;
    width: 290px;
    height: 150px;
}

.layered-paper { /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35); /* The third layer shadow */
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 5px;
}

hr {
height: 1px; /* Sets the height of the line to 1 pixel */
border: none; /* Removes the default border */
background-color: #DDD; /* Sets the line color to black */
}

div.hypothesis {
    width: 80%;
    background-color: #EEE;
    border: 1px solid black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-family: Courier;
    font-size: 18px;
    text-align: center;
    margin: auto;
    padding: 16px 16px 16px 16px;
}

div.citation {
font-size: 0.8em;
background-color:#fff;
padding: 10px;
    height: 200px;
}

.fade-in-inline {
    position: absolute;
    text-align: center;
    margin: auto;
    -webkit-mask-image: linear-gradient(to right,
                                                                        transparent 0%,
                                                                        transparent 40%,
                                                                        black 50%,
                                                                        black 90%,
                                                                        transparent 100%);
    mask-image: linear-gradient(to right,
                                                            transparent 0%,
                                                            transparent 40%,
                                                            black 50%,
                                                            black 90%,
                                                            transparent 100%);
    -webkit-mask-size: 8000% 100%;
    mask-size: 8000% 100%;
    animation-name: sweepMask;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -1s;
}

.fade-in2-inline {
        animation-delay: 1s;
}

.inline-div {
    position: relative;
    display: inline-block; /* Makes both the div and paragraph inline-block elements */
    vertical-align: top; /* Aligns them at the top, you can adjust this to middle, bottom, etc., based on your needs */
    width: 50px; /* Optional: Adds space between the div and the paragraph */
}
/* Multiple images styling (*/
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #deecfb; /* Light grey background */
    border-radius: 20px; /* Rounded corners */
    padding: 10px; /*Padding around the gallery*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}
.gallery-item {
    text-align: center;
}
.gallery-item img {
    width: 230px; /* You can adjust the image size here */
    height: auto;
    padding: 10px;
}
.caption {
    font-size: 14px;
    color: #555;
}

/* Image Styling */
.image {
    text-align: center;
    padding: 20px;
}
.image img {
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
    padding: 10px;
}

.heading4 {
    font-size: 15px;
    text-decoration: underline;
}

/* Table Styling */
.styled-table {
    margin: auto;
    border-collapse: collapse;
    /* margin: 25px 0; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #deecfb;
    color: #032345;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #deecfb;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #eff5fc;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #deecfb;
}


/* bar chart*/
.bar-chart {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    height: 300px;
    width: 90%;
    max-width: 800px;
    /* margin: 20px 0; */
    background: #fff;
    margin-top: 10px;
    padding-left: 20px;
    /* padding: 20px; */
    position: relative;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
}

.bar {
    width: 35px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bar span {
    display: block;
    background: var(--color, #4caf50);
    height: calc(var(--height) * 2.5px);
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.bar-label {
    margin-top: 5px;
    font-size: 12px;
}
.bar-value {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #555;
}

.bar-chart::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: px;
    background: #000;
}

.legend {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend-color {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background: var(--color);
}

.legend-label {
    font-size: 14px;
    color: #333;
}


.float-container {
    border: 3px solid #fff;
    padding: 0px;
}
.float-child {
    width: 45%;
    float: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 13px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* border: 2px solid red; */
}  

/*vertical image gallery*/
.vertical-gallery {
    text-align: center;
    margin: 20px;
}

.vertical-gallery-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 0;
    border-radius: 8px; /* Optional: round the corners */
    margin-bottom: 20px;
}
.vertical-gallery-item img {
    width: 800px; /* You can adjust the image size here */
    height: auto;
    padding: 10px;
}

/* title floating*/
.title-float-container {
    border: 3px solid #fff;
    padding: 0px;
}
.title-float-child {
    width: var(--width);
    float: left;
    padding: 10px;
}  